body{
  background:bisque;
}
* {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
a{
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.top .RS{
  color:#e6686a;
  font-family: Arial black;
  font-size: 24px;
}
.top .card{
  color:#9a9da2;
  font-family: Arial black;
  font-size: 24px;
}

.top nav li a{
color:#b7b7b7;
font-size: 12px;
padding-bottom: 5px;
border-left:3px solid transparent;
border-right:3px solid transparent;
}
.top nav li a:hover{
border-bottom:3px solid #e6686a ;
}

.top nav li{
  padding:15px;
  float: left;
  font-weight: bold;
}
.top nav{
  float: right;
  padding-top: 10px;
}
.top>.logo{
  float: left;
  padding-top: 20px;
}
.banner{
  height:515px;
  background-image: url(./img/background.jpg);
  background-position: center;
  background-size: cover;  
}

.alpha{
  height: inherit;
  background-color:rgba(0, 0, 0, 0.8)
}
.fixtop{
  position: fixed;
  width: 100%;
}
.top{
  padding: 0 16px;
}
main .card{
  background-color: #fff;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.photo{
  float: left;
  height: 347px;
  width: 299px;
}
.info{
  float: left;
  margin-left: 65px;
  width: 470px;
}

.hello{
  display: inline-block;
  background-color: #e6686a;
  padding: 4px 16px;
  line-height: 22px;
  color: white;
  font-weight: bold;
  position: relative;
}

.triangle{
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.CardInfo{
  padding: 50px;
}
h1{
  margin-top: 18px;
}

.info hr{
  margin:20px 0;
  border:1px solid #dedede;
}

.info dt,
dd{
float: left;
width: 50%;
font-size: 16px;
padding: 5px 0;
}

.info dt{
  font-weight: bold;
}

.info dd{
  color: #9da0a7;
}

footer{
  width:100%;
  background-color: #e6686a;
  text-align: center;
}

